@font-face {
  font-family: zig;
  src: url(/fonts/zig.ttf) format(truetype);
}
body {
  font-family: zig;
}
.img-game-type-selection {
  background-image: url("/imgs/type-selection.png");
  background-position: center;
  background-size: cover;
}
.img-bot-selection {
  background-image: url("/imgs/bot-selection.jpg");
  background-position: bottom;
  background-size: cover;
}
/* tailwind utilities */
.flex-center {
  @apply flex items-center justify-center;
}
.btn-con {
  @apply flex w-[clamp(300px,50%,600px)] flex-col items-center *:m-2 *:h-[75px] *:w-[100%] *:cursor-pointer *:border-[4px] *:border-white *:text-[20px] *:text-white *:transition-all;
}
.btn-con > * {
  @apply flex-center;
}
